Rumble.Api/bin/
Rumble.Api/obj/
Rumble.Api/obj/Rumble.Api.csproj.nuget.g.targets
Rumble.Api/obj/Rumble.Api.csproj.nuget.g.props
Rumble.Api/obj/Rumble.Api.csproj.nuget.dgspec.json
Rumble.Api/obj/project.nuget.cache
Rumble.Api/obj/project.assets.json
